* {
  /* CSS pour tous les éléments du DOM*/
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

body {
  background: url("../media/background.png");
}

body:before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.6);
}

/* Titre de la page */
h1.titre_page {
  display: block;
  font-size: 3em;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  text-align: center;
  border: 1px solid;
  border-top-color: #222;
  border-left-color: #222;
  border-right-color: #DDD;
  border-bottom-color: #DDD;
  background-color: #a2b3c4;
  margin-top: 10px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

/* Tableau */
.tableau td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tableau th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tableau {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


.tableau .tableau-parametres {
  border-color: #000000;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.tableau .tableau-fonction {
  border-color: #000000;
  color: #fe0000;
  text-align: center;
  vertical-align: middle;
}

.tableau .tableau-element {
  border-color: #000000;
  text-align: center;
  vertical-align: middle;
}

.tableau .tableau-entete {
  border-color: #000000;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 0;
}

.pas-bordure-droite {
  border-right: 0 !important;
}

.pas-bordure-bas {
  border-bottom: 0 !important;
}

.pas-bordure-gauche {
  border-left: 0 !important;
}

.pas-bordure-haut {
  border-top: 0 !important;
}

.pas-bordure {
  border: 0 !important;
}

.champ_reponse {
  color: #0000fe;
  font-weight: bold;
}

.aligne_droite {
  text-align: right !important;
}

.aligne_gauche {
  text-align: left !important;
}

.largeur30 {
  width: 30%;
}

.tableau_etire {
  margin: auto;
  text-align: center;
}

span.entree {
  font-weight: bold;
  font-style: italic;
}

#fonction {
  font-weight: bold;
  color: #BB2222;
}

/* Présentation */
#imageflottante {
  float: left;
  margin-right: 10px;
  text-align: center;
}

p.presentation {
  text-align: justify;
  line-height: 1.5em;
}

.gras {
  font-weight: bold;
}

/* Mise en page */
.contenu {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #DDD;
  height: 95%;
  overflow: auto;
  padding: 10px;
}

#texte {
  margin-left: 360px;
}

div.centre {
  width: 100%;
  text-align: center;
}

#heure {
  text-align: right;
}

/* Table de vérité */
.tableverite {

  border-collapse: collapse;
  padding: 5px;
  width: 30%;
  margin: auto;
  text-align: center;
}

.tableverite caption {
  caption-side: top;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.tableverite .entree {
  border: 0;
  padding: 5px;
  background: #333;
  color: #FFF;
  vertical-align: middle;
}

.tableverite .none {
  border: 0;
  padding: 5px;
  background: none;
  color: #FFF;
  vertical-align: middle;
}


.tableverite .italique {
  font-style: italic;
}

.tableverite td {
  border: 1px solid #C0C0C0;
  padding: 5px;
}

#tableVeriteAND {
  display: none;
}

#tableVeriteOr {
  display: none;
}

#tableVeriteXOR {
  display: none;
}

#tableauQuestion {
  display: none;
}

/* Message */
.alerte {
  padding: 20px;
  background-color: #f44336;
  /* Red */
  color: white;
  margin-bottom: 15px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.alerte.reussite {
  background-color: #4CAF50;
}

/* bouton de fermeture */
.fermeture {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.fermeture:hover {
  color: black;
}