* {
  /* CSS pour tous les éléments du DOM*/
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

body {
  background: url("https://cdn.glitch.com/c6015833-87c7-4dfe-8a04-c1c8b982c29d%2Fbackground%20copie.png?v=1613405741365");
}
body:before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.6);
}

/* Titre de la page */
h1.titre_page {
  display: block;
  font-size: 3em;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  text-align: center;
  border: 1px solid;
  border-top-color: #222;
  border-left-color: #222;
  border-right-color: #DDD;
  border-bottom-color: #DDD;
  background-color: #a2b3c4;
}
/* Tableau */
.tableau {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.tableau td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tableau th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tableau .tableau-parametres {
  border-color: #000000;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
}
.tableau .tableau-fonction {
  border-color: #000000;
  color: #fe0000;
  text-align: center;
  vertical-align: top;
}
.tableau .tableau-element {
  border-color: #000000;
  text-align: center;
  vertical-align: center;
}
.tableau .tableau-entete {
  border-color: #000000;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  border: 0;
}
.tableau .pas-bordure-droite {
  border-right: 0;
}
.tableau .pas-bordure-bas {
  border-bottom: 0;
}
.tableau .pas-bordure-gauche {
  border-left: 0;
}
.tableau .pas-bordure-haut {
  border-top: 0;
}
.tableau .pas-bordure {
  border: 0;
}
.tableau .champ_reponse {
  color: #0000fe;
  font-weight: bold;
}

span.entree {
  font-weight: bold;
  font-style: italic;
}
#fonction {
  font-weight: bold;
  color: #BB2222;
}

/* Présentation */
#imageflottante {
  float: left;
  margin-right: 10px;
}
p.presentation {
  text-align: justify;
  line-height: 1.5em;
}

/* Mise en page */
.contenu {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #DDD;
  height: 95%
  overflow: scroll;
}
